body
{
font-family:Bungee;
background-color:blue;


}

.header_div
{
    background-color: white;
    color:red;
    font-family: Rye;

}

.header_div p
{
    font-family:Permanent Marker;
    color:grey;
    letter-spacing:2px;
    font-size: 12px;
    font-weight: bolder;

}

.main_div button
{
    font-family:Luckiest Guy;
    margin-top:30px;
    width:130px;
    font-weight: bolder;
    letter-spacing:3px;

}


.copyright_footer
{
    position: fixed;
    color:darkslategray;
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}